$RECYCLE.BIN/
*.cab
*.lnk
*.log
*.msi
*.pid
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.TemporaryItems
.Trash-*
.Trashes
.lock-wscript
.node_repl_history
.npm
.nyc_output
Desktop.ini
Thumbs.db
coverage
ehthumbs.db
lib-cov
logs
node_modules
npm-debug.log*
pids
docs
dist