
// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$gradient-angle: -45deg;

// Brand color
$brand-color-1: #01c3f9;
$brand-color-2: #40f6c8;
$brand-color: #1bd8e5;

// Primary gradient colors
$primary-red-1: #ed5568;
$primary-red-2: #d62739;

$primary-dark-orange-1: #fc6e51;
$primary-dark-orange-2: #db391f;

$primary-orange-1: #ffd97c;
$primary-orange-2: f6a742;

$primary-green-1: #a0d468;
$primary-green-2: #6eaf27;

$primary-dark-green-1: #48cfad;
$primary-dark-green-2: #19a784;

$primary-blue-1: #4fc1e9;
$primary-blue-2: #0b9bd0;

$primary-indigo-1: #5d9cec;
$primary-indigo-1: #0e65d7;

$primary-voilet-1: #ac92ec;
$primary-voilet-2: #7455c3;

$primary-brown-1: #c9a684;
$primary-brown-2: #986dad;

$primary-pink-1: #ec87c0;
$primary-pink-2: #bf4c90;

$primary-dark-grey-1: #656d78;
$primary-dark-grey-2: #2f3640;

$primary-light-grey-1: #f7f7f7;
$primary-light-grey-2: #dedad7;

//supplementry gradient colors
$secondary-blue-gradient-1: #1bcedf;
$secondary-blue-gradient-2: #5b247a;

$secondary-black-gradient-1: #5e2563;
$secondary-black-gradient-2: #6579cb;

$secondary-pink-gradient-1: #f030c1;
$secondary-pink-gradient-2: #6094ea;

$secondary-green-gradient-1: #57ca85;
$secondary-green-gradient-2: #194f68;

//greyscale
$grey-color-darkest: #2e2a2a;
$grey-color-dark: #717171;
$grey-color: #b1b2b5;
$grey-color-light: #c7c7c9;
$grey-color-lightest: #f6f6f6;

