
/*
---
name: Forms
category: Components
---

Normal Forms can be used with `<div class="form-item">` by putting `<input>` element inside the div.


```types.html
            <h3>Default</h3>
            <div class="form-item">
				<input type="text" name="name" class="input">
            </div>
            
            <h3>Toggle</h3>
			<div class="form-item form-toggle">
				<span class="v-line"></span>
				<input type="text" name="name" class="input active">
            </div>
            
            <h3>Phone</h3>
			<div class="form-item phone">
				<img src="assets/group-14551@3x.png" />
				<span class="v-line"></span>
				<input type="text" name="name" class="input">
            </div>
            
            <h3>Expanded</h3>
			<div class="form-item">
                <input type="text" name="name" class="input expanded">
                <div class="expanded-icon">
                <img src="assets/group-14584.svg" />
                </div>
			</div>

            <h3>Verified</h3>
			<div class="form-item ">
				<div class="check-icon-wrapper">
					<img src="assets/group-14576@3x.png" />
				</div>
				<input type="text" name="name" class="input verified">
			</div>

            <h3>Error</h3>
			<div class="form-item ">
				<div class="error-icon-wrapper">
					<img src="assets/group-14578@3x.png" />
				</div>
				<input type="text" name="name" class="input error">
            </div>
            
            <h3>Dropdown</h3>
			<div class="form-item ">
				<div class="dropdown-icon">
					<img src="assets/path.png" />
				</div>
				<input type="text" name="name" class="input">
			</div>

```
*/


.form-item{
    position: relative;
    margin-bottom:10px;
    max-width: 300px;
    width:100%;
    input,.input {
      width:100%;
      border-radius: 4px;
      height: 38px;
      padding: 6px 10px;
      border: 1px solid #D1D1D1;
      border-radius: 4px;
      box-shadow: none;
      box-sizing: border-box;
      &:focus, &.active{
        box-shadow:none;
        border:1px solid $brand-color-2;
        outline: none !important;
      }
    }
    .expanded{
        height:150px;
    }
    .expanded-icon{
        img{
            position: absolute;
            top: 123px;
            left: 10px;
        }
    }
//-------affecting border color of error and verified state------//
    .verified{
      border-color: $primary-green-1;
      &:focus{
        border:1px solid $primary-green-1;
      }
    }
    .error{
      border-color: $primary-red-2;
      &:focus{
        border:1px solid $primary-red-2;
      }
    }

    .check-icon-wrapper{
      
    position: absolute;
    top: 0px;
    left: -27px;
    }

    .error-icon-wrapper{
      
        position: absolute;
        top: 0px;
        left: -27px;
    }


    img{
      position:absolute;
      top:10px;
      height:18px;
      left:20px;
      z-index: 1;
    }
    .v-line {
      @include vertical-fading-line( 1px, 36px );
      z-index: 1;
      position: absolute;
    }
    &.form-toggle{
      .v-line{
        top: 1px;
        left:50%;
      }
    }
    &.phone{
        img{
            height: 40px;
            left: 15px;
            top: 0px;
            position: absolute;
            
        }
       input{
           padding-left: 90px;
       }
      .v-line{
        top: 1px;
        left:80px;
      }
    }

    .dropdown-icon {
        position: absolute;
        top: 6px;
        left: -4px;
        img{
            height: auto;
        }
    }
  }