
/*
---
name: Line-separator
category: components
---

Line Separator can be used with `<div class="line-separator"></div>` element.

```types.html

<div class="line-separator"></div>

```
*/

.line-separator{
    @include vertical-fading-line( 1120px, 1px );
    margin-top: 20px;
  }