@mixin linear-gradient($gradient-angle, $fromColor, $toColor) {
    background-color: $toColor; /* Fallback Color */
    background-image: -webkit-gradient(linear, left from($fromColor), to($toColor)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient($gradient-angle,  $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient( $gradient-angle, $fromColor, $toColor); /* FF3.6 */
    background-image: -ms-linear-gradient($gradient-angle, $fromColor, $toColor); /* IE10 */
    background-image: -o-linear-gradient($gradient-angle, $fromColor, $toColor); /* Opera 11.10+ */
    background-image: linear-gradient($gradient-angle, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
  }

@mixin vertical-fading-line($widthWithUnit,$heightWithUnit){
    display: inline-block;
    width: $widthWithUnit;
    height: $heightWithUnit;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    background: -webkit-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
    );
  }