
/*
---
name: Modal
category: Components
---



```types.html
<div class="modal-wrapper">
			<div class="lock-icon">
				<img src="assets/group-14438.svg" />
			</div>
			<div class="modal-content">
				<p>٢٥/٠ ٠٪ هذا المحتوي متاح فقط من خلال عضويات نو</p>
			</div>
			<div class="modal-buttons">
				<div class="modal-buttons-wrappers">
					<div class="button-link button-medium">المدفو</div>
					<div class="button-primary button-medium">اشترك الإن!</div>
				</div>
			</div>
		</div>
```
*/

.modal-wrapper {
    position: relative;
    display: inline-block;
    margin:50px;
  
    .lock-icon {
      position: absolute;
      left: 50%;
      top: 0%;
      transform: translate(-50%, -50%);
      z-index: 1;
      img{
        width: 100px;
        height:auto ;
      }
    }
    
      .modal-content{
        height:200px;
        width:400px;
        border: 1px solid #d1d1d1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: white;
        text-align: center;
      }
      .modal-buttons{
        position: absolute;
        width: 400px;
        left: 66%;
        transform: translate(-50%, -50%);
        .modal-buttons-wrappers{
            display: inline-block;
          .button-link{
            margin-right: 20px;
          }
        }
      }
  }
