
/*
---
name: Toggle
category: Components
---



```types.html
<br>
<div class="toggle">
				<div class="display">
					<label class="label toggle">
						<input type="checkbox" class="toggle_input" />
						<div class="toggle-control"></div>
					</label>
				</div>
            </div>
            <br>

          

```
*/


.toggle{
    position: relative;
    .display{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      $width: 160px;
      $height: $width/4;
      $transition: .2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
      .toggle{
    
        .toggle-control{
          transition: $transition;
           width: $width;
           height: $height;
           display: block;
          border: 2px solid #d1d1d1;
          border-radius: $height/4;
          background-color: rgba(black,.06);
          position: relative;
          &:after{
            transition: $transition;
            content: "";
            width: $width/2.10;
            height: $height/1.14;
            display: block;
            background-color: #fff;
            border-radius:5px ;
            box-shadow: 0 1px 2px rgba(black, .4),0 3px 2px rgba(black,.4);
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        
       input{
         display: none;
         &:checked + .toggle-control{
          background:linear-gradient( $gradient-angle, $brand-color-1 ,$brand-color-2 );
           border-color: $brand-color-2;
           &:after{
             left: $width/2;
           }
         }
       }
       
       .toggle_input{
        
       }
       
     }
      }

  }
